:root {
  --gradient-color: #016cc3;
  --color-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  background: linear-gradient(to bottom, var(--gradient-color), #191e29);
  background-attachment: fixed;
  color: var(--color-text);
}

h3 {
  letter-spacing: 0.4rem;
}

.header {
  background-color: rgba(46, 46, 47, 0.424);
  width: 100%;
  height: 3rem;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header__home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__home {
  color: #fff;
}

.header__nav-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  width: 100%;
}

.header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header__nav-list-item {
  padding: 1rem;
  list-style: none;
  text-align: center;
}

.header__nav-list-link {
  color: #fff;
  text-decoration: none;
  padding: 0.7rem;
}

.header__nav-list-link:hover {
  text-decoration: underline;
}

.header__nav-list-link img {
  width: 20px;
  height: 20px;
}

/* Greeting */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__greeting-container {
  text-align: center;
  line-height: 1.2;
}

.hero__greeting-title {
  font-size: 80px;
  font-weight: 600;
}

.hero__greeting-subtitle {
  font-size: 30px;
  font-weight: 400;
}

.hero__greeting-icon-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__greeting-icon {
  margin: 0.5rem 0.5rem 0 0.5rem;
  color: transparent;
}

.hero__greeting-icon img {
  width: 30px;
}

.hero__start-button-container {
  width: 20%;
  text-align: center;
  position: relative;
  top: 100px;
}

.hero__start-button {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.hero__start-button:hover {
  background-color: #191e29;
  border: 1px solid #191e29;
}

.hero__change-color {
  width: 50px;
  height: 50px;
  background: conic-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  color: #000;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  text-align: center;
  cursor: pointer;
}

.hero__change-color-text {
  width: 50%;
  margin: 1rem auto;
  font-size: 0.8rem;
}

/* About Me */
.about-me {
  text-align: justify;
  height: 100vh;
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: baseline;
  align-items: center;
}

.about-me__introduction-container {
  line-height: 2;
  margin-left: 2rem;
}

.about-me__introduction-title {
  text-align: center;
  font-size: 1.7rem;
}

.about-me__introduction-description-container {
  width: 70%;
  margin: 0 auto;
}

.about-me__image-container {
  margin-right: 2rem;
  text-align: center;
}

.about-me__image {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Projects */
.projects {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.projects__title-container {
  width: 100%;
  text-align: center;
}

.projects__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.projects__card-project-container {
  width: 90vw;
  margin-bottom: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.projects__card-project {
  width: 19rem;
  height: 19rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  box-shadow: 0 0 1rem #191e29;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__card-project-image {
  width: 250px;
  border: 1px solid #fff;
}

.projects__card-project-title {
  font-size: 1.2rem;
}

.projects__card-project-lang {
  font-weight: 300;
}

.projects__card-project-button {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.projects__card-project-button:hover {
  background-color: #191e29;
  border: 1px solid #191e29;
  color: #fff;
}

/* Skills */
.skills {
  height: 50vh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.skills__skills-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
}

.skills__skill-image {
  width: 100px;
}

/* Contact Me */
.contact-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me__title-container {
  margin: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact-me__title {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

#name {
  grid-area: name;
}

#last-name {
  grid-area: last-name;
}

#email {
  grid-area: email;
}

#subject {
  grid-area: subject;
}

#message {
  grid-area: message;
}

.contact-me__form-container {
  width: 50%;
}

.contact-me__form {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "name last-name"
    "email email"
    "subject subject"
    "message message"
    "message message";
  justify-content: center;
  align-items: center;
}

.contact-me__form-input {
  height: 2.5rem;
  border-radius: 0.5rem;
}

.contact-me__form-textarea {
  border-radius: 0.5rem;
}

.contact-me__form-input::placeholder,
.contact-me__form-textarea::placeholder {
  text-align: center;
}
